/* Gradients source: https://gradients.shecodes.io/gradients/31 */

/*************** Roots, astericks, and primary tags ***************/
#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  background: linear-gradient(to bottom, #434343 0%, black 100%);
}

* {
  box-sizing: border-box;
  /* margin: 0; */
  /* padding: 0; */
  transition: all 0.4s;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  /* box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%); */
  background: linear-gradient(to top, #434343 0%, black 100%);
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  padding-top: 0px;
  padding-bottom: 0px;
}

footer {
  width: 100vw;
  position: relative;
  bottom: 0;
  background: linear-gradient(to top, #434343 0%, black 100%);
  border-top: 1px solid #dee2e6;
}

main {
  /* min-height: 81vh; */
  /* min-width: 100vw; */
  display: flex;
  flex-direction: column;
  /* margin-top: 69px; */
  /* xxx */
  background: linear-gradient(to top, #434343 0%, black 100%);
  color: green;
  /* padding-bottom: 5%; */
}

body {
  font-family: sans-serif;
}

/*************** Header elements ***************/
.nav-link {
  color: white;
}

/* navbar styling */
.navbar {
  display: flex;
  height: 5rem;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  border-bottom: 2px solid rgb(223, 251, 219);
}

.nav-menu {
  position: fixed;
  width: 94%;
  top: 6rem;
  left: 18px;
  background-color: rgb(255, 255, 255);
  font-weight: 600;
}
.nav-menu a {
  display: block;
  text-align: center;
  padding: 5px 0;
}

#myName {
  float: right;
  margin-top: -35px;
  color: black;
  box-shadow: 0 0 23px 23px gold, inset 0 0 23px 13px gold;
}
@media screen and (max-width: 600px) {
  #myName {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;

    float: right;
    margin-top: -35px;
    color: black;
    box-shadow: 0 0 23px 23px gold, inset 0 0 23px 13px gold;
  }
}

/*************** Footer elements ***************/
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  border-radius: 5px;
  box-shadow: 0 0 24px 24px gold;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/*************** Project tab card elements ***************/
.gitIcons {
  /* height: 6em; */
  padding: .5em;
  will-change: filter;
  transition: filter 300ms;

  width: 50px;
  height: 50px;
  object-fit: contain;
}
.gitIcons:hover {
  border-radius: 5px;
  box-shadow: inset 0 0 24px 24px gold;
  /* animation: shake 0.5s; */
  animation-iteration-count: infinite;
}

.card {
  padding: 2em;
}

/* Keeps all cards in projects together */
.justifyCenter {
  justify-content: center;
}

/* using a mobile-first approach, set base column width to be 100% and we'll update it using media queries for larger screen sizes */
.cardColumn {
  flex: 1 0 100%;
  padding: 1.5rem;
  /* when the screen resizes, make it so our columns don't jump in size */
  transition: flex-basis 500ms linear;
  margin-bottom: 1.5rem;
}

/* make each code card a flexbox column to align and justify content within it */
.codeCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100%;
  padding: 2rem;
  color: green;
  background-color: #242424;
  outline: 2px dashed green;
  outline-offset: -0.5rem;
  transition: all 0.5s ease-in-out;
}

.codeCard:hover {
  color: yellow;
  background-color: #898989;
  outline: 2px dashed yellow;
}

.codeCard .cardHeader {
  /* use position and negative margins to move title of card over the card's outline and create an overlap effect */
  position: relative;
  margin: -4rem 0 1.5rem 0;
  padding: 0.5rem 1rem;
  background-color: #242424;
  color: green;
  border: 2px solid green;
  border-radius: 0.5rem;
  transition: all 0.5s ease-in-out;
}

/* each card's code block grows to the height of the largest code block on the page, making each card even in height */
.codeCard .codeBlock {
  flex-grow: 1;
}

/* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
@media screen and (min-width: 768px) {
  /* on tablets, set columns to only be 50% of the width and not grow */
  .cardColumn {
    flex: 0 0 50%;
    max-width: 50%;
  }

  /* select the last child to grow to full width if it has space to grow */
  .cardColumn:last-child {
    flex-grow: 1;
  }
}

/* media query for larger screens */
@media screen and (min-width: 992px) {
  .cardColumn {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
}

/* Set this to keep project images in their cards */
img {
  max-width: 100%;
  max-height: 100%;
}

#contactForm {
  width: 75%;
  margin: auto;
  display: block;
  /* display: grid; */
  place-items: center;
}

/* logo style */
/* .logo img {
  width: 4rem;
  height: 4rem;
  margin-left: 1rem;
} */

/* .hamburger-menu {
  padding-right: 1.5rem;
  cursor: pointer;
}

.hamburger-menu .line {
  display: block;
  width: 2.5rem;
  height: 2px;
  margin-bottom: 10px;
  background-color: black;
  cursor: pointer;
} */

/* for Desktop view */
/* @media screen and (min-width: 600px) {
  .navbar {
    justify-content: space-around;
  }
  .nav-menu {
    display: block;
    position: static;
    width: auto;
    margin-right: 20px;
    background: none;
  }
  .nav-menu a {
    display: inline-block;
    padding: 15px 20px;
  }
  .nav-menu a:hover {
    background-color: rgb(223, 251, 219);
    border-radius: 5px;
  }
  .hamburger-menu {
    display: none;
  }
} */



.button {
  border-radius: 28px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: green;
  cursor: pointer;
  transition: border-color 0.25s;
}